/* Colours */
$brand-primary:		#CC181E;
$brand-secondary:	#444444;
$link-color: 		$brand-secondary;
$hover-color:		$brand-primary;
$text-color:		#1C0000;

/* Fonts */
$heading-font-stack: "Lato", sans-serif;
$body-font-stack: "Open Sans", "Verdana", "Helvetica", sans-serif;
$code-font-stack: Consolas, monaco, monospace;

/* Layout */
$screen-max: 1920;
$sm: 481px;
$md: 768px;
